@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

.letter-spacing{
    letter-spacing: 0.13em;
}
.bg-img{
    position: relative;
}

.bg-position{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.navprop{
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5));
}


